[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "BayesTwin"]
	path = BayesTwin
	url = https://github.com/ingaschwabe/bayestwin
	shallow = true
	registered = true
